
.header {
	color: red;
	text-align: center;
	background-image: url("images/frostskater.png");
	background-repeat: no-repeat;
	background-position: center;
}

p {
	color: black;
	font-size: 18px;
	font-size: 18px;
}

table {
	color: skyblue;
}

body {

background-color: black;\
	
	
}

th {
	text-align: left;
} 
