
.header {
color: red;
text-align: center;
background-image: url("vignette1.wikia.nocookie.net/bravefrontierglobal/images/9/9f/Unit_ills_full_820116.png/revision/latest?cb=20150105114825
.png");
background-repeat: no-repeat;
background-position: center;
}

p {
color: black;
font-size: 18px;
font-size: 18px;
}

table {
	color: skyblue;
}
